{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'img/icon.png' %}" />
        <title>Instagram New</title>
    </head>
    <body>
        <h1>Upload Your Post</h1>

        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{form.as_p}}
            <button type="submit">submit</button>
        </form>
    </body>
</html>
