body {
    background-color: #e9e9e9;
    margin: 0;
}

.cardViewSection {
    background-color: white;
    width: 400px;
    margin: 0 auto;
}

.userNickName {
    padding: 10px 0 10px 5px;
}

.cardImage {
    width: 400px;
    height: 400px;
    border-bottom: 1px solid #dbdbdb;
}

.cardImage img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.cardInfo img {
    width: 25px;
    height: 25px;
}

.comment_form {
    border-top: 1px solid #dbdbdb;
    padding: 5px 0 8px 8px;
    margin-top: 15px;
}

.comment_form input {
    border: none;
    padding: 0;
}
