.signUp_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 540px;
    padding: 40px 50px;
    margin: 50px auto 10px;
    background-color: white;
    border: 1px solid #dbdbdb;
}

.instagramText {
    width: 200px;
}

.joinLetter {
    color: gray;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}

.line {
    margin: 0 0 44px;
    width: 100%;
    border: none;
    border-top: 3px solid #dbdbdb;
}

.userSignUp {
    width: 100%;
    margin-bottom: 8px;
    padding: 12px 0 12px 8px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

#signUpButton {
    width: 100%;
    background-color: #0095f6;
    border: none;
    color: white;
    padding: 6px 0;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.joinInsta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #dbdbdb;
}

.joinBtn {
    border: none;
    background-color: white;
    color: #0095f6;
    padding: 0;
    font-weight: bold;
    padding-left: 5px;
}
